* {
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/public/Assets/Images/websitebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}